body {
  text-align: center;
  margin:0px auto 0px auto;
  font-family: 'Open Sans', sans-serif;
}

/* Heading Items */
h1 {
  margin:0px;
  height:100px;
  background-color:#404041;
  color:#E6E7E8;
  font-weight:300;
  font-size: 50px;
  line-height:100px;
  vertical-align:middle;
}

.number {
  color:#ED458B;
  font-weight:700;
  margin:0px 20px 0px 0px;
}

/* Section 1 Items */
input {
  display: block;
  margin:50px auto 25px auto;
  width:60%;
  height:30px;
  text-align:center;
}

/* Section 2 Items */
p {
  font-size:30px;
  color:#404041;
}

.prev-guess {
  display:block;
  height:200px;
  line-height:200px;
  margin: 20px auto;
  font-size:150px;
  color:#EB008B;
}

/* Button Items */
.button {
  background:none;
  border:none;
  font-size:1em;
  color:#ffffff;
  background-color:#929497;
  margin:0% 2%;
  height:40px;
  width:28%;
  border-radius:30px;
}

.button.reset {
  margin:30px;
  width:60%;
}

.button:hover {
  background-color:#EB008B;
}

.disable {
  cursor:not-allowed;;
  pointer-events:none;
  background-color:#D0D2D3;
}


/* Media query adjustments */
@media screen and (max-width:500px) {
  body {
    max-height:568px;
  }

  h1 {
    font-size: 30px;
  }

  input {
    width:90%;
  }

  p {
    margin:10px 5px;
  }

  .button {
    display: block;
    width: 90%;
    margin:10px auto;
  }

  .button.reset {
    margin:5px auto;
    width:90%;
  }
}
